<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="footerFragmentHead">
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div th:fragment="footerFragment">
        <link rel="stylesheet" href="/styles/index/footer.css">
        <div id="footer-area">
            <div class="line-bold-double">
                <div class="line-font">
                    개인정보처리방침
                </div>
                <div class="line-font">
                    이용약관
                </div>
            </div>
            <div class="info-area">
                <div class="info-title-font">
                    MY Book Place
                </div>
                <div class="info-line"></div>
                <div class="info-font">
                    개인프로젝트 : 권원준 - mybokplace<br />
                    전화번호 : 010-6680-2488<br />
                    git address : https://github.com/KWWWJ/MyBook
                </div>
            </div>
        </div>
    </div>
</body>

</html>