<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragmentHead">
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div th:fragment="headerFragment">
        <link rel="stylesheet" href="/styles/index/header.css">
        <div id="header-area">
            <div class="top">
                <div class="logo" onclick="location.href='/home'">
                    <img src="/images/index/logo.png">
                </div>
                <div class="user-state-non-login" th:if="${session.userId == null}">
                    <a href="/login">로그인</a>
                    <a href="/regist">회원가입</a>
                </div>
                <div class="user-state-login" th:if="${session.userId != null}">
                    <a href="/user/user.html" th:text="${session.userId}"></a>
                    <div>님 환영합니다.</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>