@charset "UTF-8";

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0 10px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 300px;
}

.logo img:hover {
    cursor: pointer;
}

.user-state-login {
    display: flex;
    padding-top: 1px;
}

.user-state-login a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.user-state-non-login {
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-size: 12px;
    font-weight: 700;
}

.user-state-non-login a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.logout-btn {
    border: none;
    background: black;
    color: white;
    font-size: 12px;
    margin-left: 10px;
}

.category-area {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-weight: 700;
}

.category-area a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.genre {
    margin-right: 225px;
    margin-left: 175px;
}

.bottom-line {
    width: 700px;
    border-bottom: 3px solid black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}