@charset "UTF-8";

#header-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 300px;
}

.logo img:hover {
    cursor: pointer;
}

.user-state-login {
    display: flex;
}

.user-state-login a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.user-state-non-login {
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
}

.user-state-non-login a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.category-area {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-weight: 700;
}

.category-area a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.genre {
    margin-right: 225px;
    margin-left: 175px;
}

.bottom-line {
    width: 700px;
    border-bottom: 3px solid black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}