@charset "UTF-8";

#write-area {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.write-box {
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px 20px;
}

.teaxarea-size {
    width: 940px;
    border: none;
    resize: none;
    padding-top: 10px;

}

.teaxarea-size:focus {
    outline: none;

}

.title {
    height: 40px;
    width: 100%;
    padding-top: 13px;
    border-bottom: 2px solid rgb(224, 224, 224);
}

.book-name {
    height: 40px;
    width: 100%;
    padding-top: 13px;
    border-bottom: 2px solid rgb(224, 224, 224);
}

.content {
    min-height: 700px;
    width: 100%
}

.upload-btn {
    display: block;
    background: none;
    margin-left: auto;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    width: 130px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.upload-btn:hover {
    background: black;
    color: white;
}

#search-book-area {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 500px;
    width: 910px;
    overflow: auto;
    top: 130px;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(255, 255, 255);
}

#search-book-area::-webkit-scrollbar {
    width: 8px;
}

#search-book-area::-webkit-scrollbar-thumb {
    height: 30%;
    background: gray;
    border-radius: 10px;
}

#search-book-area::-webkit-scrollbar-track {
    background: white;
}

#search-book-area img {
    width: 80px;
}

#search-book-area li {
    cursor: pointer;
    display: flex;
    list-style: none;
    padding: 10px;
}

#search-book-area li:hover {
    background-color: rgb(196, 196, 196);
}

#search-book-area p {
    font-size: 13px;
}

#book-title {
    background-image: url('/images/review/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}