<html lang="ko">

<head th:fragment-="bestsellerFragmentHead">
    <meta charset="UTF-8">

    <title>Bestseller</title>
</head>

<body>
    <div th:fragment="bestsellerFragment">
        <link rel="stylesheet" href="/styles/book/bestseller.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <div id="bestseller-area">
            <img class="category-img" src="/images/bestseller/bestseller.png"></img>
            <div id="bestseller-list">

            </div>
            <div id="bestseller-table" class="height">
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
                <img class="table-img" src="/images/bestseller/table.png"></img>
            </div>
        </div>
        <script src="/scripts/book/bestseller.js"></script>
    </div>
</body>

</html>