<!DOCTYPE html>
<html lang="ko">

<head th:fragment-="registFragmentHead">
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="registFragment">
        <link rel="stylesheet" href="styles/user/regist-login.css">
        <div class="background">
            <div class="container right-panel-active">
                <!-- Sign Up -->
                <div class="container__form container--signup">
                    <form action="/userInfo" class="form" id="form1" method="post">
                        <h2 class="form__title">Sign Up</h2>
                        <input type="text" placeholder="User" class="input" name="name" />
                        <input type="text" placeholder="User userId" class="input" name="userId" />
                        <input type="password" placeholder="Password" class="input" name="password" />
                        <input type="email" placeholder="Email" class="input" name="email" />
                        <button class="btn">Sign Up</button>
                    </form>
                </div>

                <!-- Sign In -->
                <div class="container__form container--signin">
                    <form action="/login" class="form" id="form2" method="post">
                        <h2 class="form__title">Sign In</h2>
                        <input type="text" placeholder="User ID" class="input" name="userId" />
                        <input type="password" placeholder="Password" class="input" name="password" />
                        <a href="#" class="link">Forgot your password?</a>
                        <button class="btn">Sign In</button>
                    </form>
                </div>

                <!-- Overlay -->
                <div class="container__overlay">
                    <div class="overlay">
                        <div class="overlay__panel overlay--left">
                            <button class="btn" id="signIn">Sign In</button>
                        </div>
                        <div class="overlay__panel overlay--right">
                            <button class="btn" id="signUp">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/scripts/user/regist.js"></script>
    </div>
</body>

</html>